body{
    font-family: 'Roboto Mono';
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.header{
    display: flex;
    gap:8px;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: #1F2937;
}
.logo{
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}
.links{
    gap: 8px;
    display:inline-block;
    padding: 0px 20px;
    font-size: 18px;
    color:#E5E7EB;
    cursor: pointer;
}
.links a{
    gap:8px;
    padding: 20px;
    color: whitesmoke;
}
a:link    {color:#E5E7EB;text-decoration: none;}  /* unvisited link  */
a:visited {color:#E5E7EB;text-decoration: none;}  /* visited link    */
a:hover   {color:#E5E7EB;text-decoration: none;}  /* mouse over link */
a:active  {color:#E5E7EB;text-decoration: none;}  /* selected link   */ 
.top{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 70px;
    align-items: center;
}
.top-text{
    width: 400px;
    height: 250;
    padding-bottom: 70px;
}
.top-text h1{
    color: #F9FAF8;
    font-size: 24px;
}
.top-text p{
    font-size: 18px;
    color:#E5E7EB;
}
.top-text button{
    background-color: #3882F6;
    font-size: 18px;
    color:#E5E7EB;
    cursor: pointer;
    border-radius: 12px;
    margin-top: 30px;
}
.top-image img{
    border-radius: 12px;
}

.mid-text{
    display: flex;
    justify-content: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 24px;
}
.mid{
}
.items{
    display: flex;
    gap:20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-size-adjust: auto ;
    margin-top: 8px;
}
.item{
    width: 200px;
}
.item img{
    width: 200px;
    height: 200px;
    border: 4px blue;
}
.qtb{
    background-color: #E5E7EB;
}
.quote{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    text-align: left;
    padding: 30px 10%;
    margin-left: 200px;
    margin-right: 200px;
    color: #1F2937;
    font-style: italic;
}
.quote .signature{
    text-align: right;
    font-weight: 800;
}
.CTA{
    display: flex;
    justify-content: end;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgb(30, 8, 54);
    margin:auto;
    margin-top: 30px;
    border-radius: 8px;
}
.CTA-text{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: left;
}
.CTA-text h1{
    font-size: 14px;
    font-weight: 800;
    color:#E5E7EB
}
.CTA-text p{
    font-size:10px;
    font-weight: 100;
    color: #F9FAF8;
}

.CTA-button{
    margin: 30px;
    align-self: center;
}
.CTA-button button{
    background-color: #3882F6;
    color: #E5E7EB;
    border: white;
    border: 4px;
    cursor: pointer;
    border-radius: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
}
.footer{
    margin-top: 30px;
    background-color: #1F2937;
    height: auto;
}
.footer p{
    text-align: center;
    color:#E5E7EB;
    font-size: 18px;
}